<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Titty roulette</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/roulette.css">
    </head>
    <body>
        <div class="slot-holder shadow">
            <div class="content-holder shadow animate">
                <div class="content">
                    <img id="image1" class="slot-image" src="./assets/images/booble.jpg" />
                    <img id="image2" class="slot-image" src="./assets/images/lemons.jpg" />
                    <img id="image3" class="slot-image" src="./assets/images/cherries.png" />
                    <img id="jackpot-image1" class="slot-image" src="./assets/images/booble.jpg" />
                </div>
                <div class="content">
                    <img id="image4" class="slot-image" src="./assets/images/booble.jpg" />
                    <img id="image5" class="slot-image" src="./assets/images/lemons.jpg" />
                    <img id="image6" class="slot-image" src="./assets/images/cherries.png" />
                    <img id="jackpot-image2" class="slot-image" src="./assets/images/booble.jpg" />
                </div>
                <div class="content">
                    <img id="image7" class="slot-image" src="./assets/images/booble.jpg" />
                    <img id="image8" class="slot-image" src="./assets/images/lemons.jpg" />
                    <img id="image9" class="slot-image" src="./assets/images/cherries.png" />
                    <img id="jackpot-image3" class="slot-image" src="./assets/images/booble.jpg" />
                </div>
            </div>
            <div class="flex-separator"></div>
            <hr />
            <div class="button-holder">
                <button onclick="window.slotMachine.animate()" class="btn btn-main shadow">start</button>
            </div>
        </div>
        <div class="modal animate">
            <div onclick="window.slotMachine.clearModal()" class="modal-background animate"></div>
            <div class="modal-content animate shadow">
                <div>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                </div>
                <hr />
                <div class="flex-separator"></div>
                <div class="boobs">
                    <img src="./assets/images/booble.jpg"/>
                </div>
                <div class="flex-separator"></div>
                <hr />

                <div>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                    <img src="./assets/images/jackpot.png"/>
                </div>
            </div>
        </div>
        <script type="application/javascript" src="./assets/js/application.js"></script>
    </body>
</html>